/* Background colors */
.background-off-white{
    background-color: #F0ECE1;
}
.background-rust{
    background-color: #C0A06F;
}
.background-earthy-red{
    background-color: #AE8E7F;
}
.background-slate{
    background-color: #95978A;
}
/* Font stylings */
.font-white{
    color: white;
}
.font-bold{
    font-weight: bold;
}
